body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

.container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 24px;
}

form {
    margin-top: 20px;
}

input {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Image Styles */
.Image {
    width: 100%;
    height: auto;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    input {
        width: 100%;
    }
    
    form {
        margin: 10px 0;
    }
    
    /* Responsive styles for sign-up page */
    #sign-up-form .user-type {
        text-align: center;
    }

    /* Responsive styles for login page */
    #student-login-form input,
    #tutor-login-form input {
        width: 100%;
    }

    /* Responsive styles for student home page */
    #student-username {
        text-align: center;
    }
}